<div class="single-card">
    <div class="single-col single-col-l single-col-1 single-card-image">
        {% render 'single-image', image_url: key_image_url %}
    </div>
    <div class="single-col single-col-r single-col-1 single-card-info">
        <h3 class="single-album-title">{{ key_name }}</h3>
    </div>
</div>